/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
* Global Styles
*/
.mdl-grid .mdl-grid.mdl-grid--nesting {
  padding: 0;
  margin: 0 -8px;
}

h1, h2, h3, h4, h5, .mdl-navigation__link {
  /*font-family: 'Fresca', sans-serif !important;*/
  color: #21A2D6 !important;
  font-family: 'Bitter', serif !important;
}

.dark {
  color: black !important;
}

.light {
  background-color: white;
}

.full-height {
  height: 100%;
}

main, .mdl-layout__header-row {
  background-color: white;
}

/* main header */
.mdl-layout__header-row {
  border-bottom: solid 1px white;
}

.mdl-layout__header .mdl-layout__drawer-button {
  background-color: #21A2D6 !important;
}
