#new-project-image {
   img {
     width: 100%;
   }
}

.center {
  margin: auto;
  width: 50%;
}

.white-bg {
  background-color: white;
}

.project-banner {
  .spacer {
    opacity: 0
  }

  .banner-title {
      color: white;
      background-color: black;
      opacity: 0.6;
      h1 {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
      }
  }
}

.phase-icon {
  margin: 5px;
  cursor: pointer;
  border: solid 5px white;
  transition: border .25s;
  &:hover {
    border: solid 5px #2196F3 !important;
  }

  img {
    max-width: 100%;
  }
}

.project-container {
  height: 100vh;
  padding: 15px;
  border-right: solid 1px black;
  .mdl-textfield, .mdl-button {
    width: 100% !important;
  }
}

#phase-editor {
  min-height: 176px;
  background-color: white;
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0;
  border-top: solid 1px black;

  .imgPreview img {
    max-width: 100%;
  }
}
